<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SquirrelEnhancementTeamID</key>
	<string>$(ENHANCEMENT_TEAM_ID)</string>
	<key>TISInputSourceID</key>
	<string>org.rime.inputmethod.SquirrelEnhanced.Development</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Squirrel</string>
	<key>CFBundleIconFile</key>
	<string>RimeIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SquirrelEnhancedDev</string>
	<key>CFBundleDisplayName</key>
	<string>鼠须管增强开发版</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>仅在您按住语音热键或主动测试时，由语音辅助程序采集麦克风音频。云识别会向您选择并配置的语音服务发送音频。</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>org.rime.inputmethod.SquirrelEnhanced.Development.Hans</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.rime.inputmethod.SquirrelEnhanced.Development.Hans</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>rime.pdf</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hans</string>
					<string>Hant</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>rime.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>rime.pdf</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
			<key>org.rime.inputmethod.SquirrelEnhanced.Development.Hant</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>org.rime.inputmethod.SquirrelEnhanced.Development.Hant</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>rime.pdf</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
					<string>Hans</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<false/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModeMenuIconFileKey</key>
				<string>rime.pdf</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>rime.pdf</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smUnicodeScript</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>org.rime.inputmethod.SquirrelEnhanced.Development.Hans</string>
			<string>org.rime.inputmethod.SquirrelEnhanced.Development.Hant</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>org.rime.inputmethod.SquirrelEnhanced.Development_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>Squirrel.SquirrelInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>Squirrel.SquirrelInputController</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://rime.github.io/release/squirrel/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ukvWq2dKOWn3B9AsdsQIwOptiDdDKdUjAVNgFxSvB2o=</string>
	<key>TICapsLockLanguageSwitchCapable</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
